
.cardBox{
    margin-left: 85px;
    margin-right: 85px;
    align-items: center;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 10px;
    padding: 10px
}
.button {
   margin-bottom: 10px;
 }
